{% comment %}
  Hero Banner Section
{% endcomment %}
<section class="hero-banner-section">
  <h2 class="hero-banner-title">The Royals of A<em>yurveda</em>, Bottled.</h2>
  <p class="banner-info-subtitle">Nature’s Finest, Chosen with Intention</p>
  <img
    src="{{ 'saffhkvopy copy.png' | asset_url }}"
    class="hero-banner-image"
    alt="Hero Banner"
    width="800"
    height="600"
  >
</section>

<style>
  .hero-banner-section {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fef9f2 url('{{ 'noise.png' | asset_url }}');
    background-size: 150px 150px;
    background-repeat: repeat;
  }
  .hero-banner-title {
    font-family: 'Instrument Serif', serif;
    font-weight: 200;
    font-size: 3rem;
    line-height: 1.2;
    overflow: hidden;
    text-align: center;
    color: #63001f;
    margin-bottom: 1rem;
  }
  .hero-banner-title em {
    font-style: italic;
  }
  .hero-banner-image {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .banner-info-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #63001f;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 2rem;
  }
</style>

{% schema %}
{
  "name": "Hero Banner",
  "presets": [{ "name": "Hero Banner" }]
}
{% endschema %}
